<div class="container mt-5">
    <div class="row">
        <!-- card for displaying data for each offer -->
        @for(offer of offers; track offer.id) {
        <div class="col h-100 block">
            <div class="card m-2 h-100">
                <img [src]="offer.imageUrl" class="card-img-top" alt="Product image">
                <div class="card-body">
                    <h5 class="card-title">{{offer.title}}</h5>
                    <p class="card-text">{{offer.price}}&#8364;</p>
                    <div class="icons">
                        <!-- icons for upvoting and downvoting (limited to one vote) -->
                        <i role="button" aria-label="Upvote" (click)="upvote(offer.id)" class="bi bi-chevron-up me-2" [class.disabled]="upvotedOffers.includes(offer.id)"></i>
                        <span class="fw-bold">{{offer.votes}}</span>
                        <i role="button" aria-label="Downvote" (click)="downvote(offer.id)" class="bi bi-chevron-down ms-2" [class.disabled]="downvotedOffers.includes(offer.id)"></i>
                    </div>
                    <br />
                    <button type="button" (click)="trackOfferAndShowModal(offer.id)" [routerLink]="['/offers', offer.id]" class="btn btn-secondary me-2">Details</button>

                    <!-- redirect to existing page -->
                    <a type="button" [href]="`https://en.rebuy.de/${offer.id}`" target="_blank" class="btn btn-primary">
                        Buy now
                    </a>
                </div>
            </div>
        </div>
        }
    </div>
</div>

<!-- Modal for details -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @if(openedOffer) {
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">{{openedOffer.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img [src]="openedOffer.imageUrl" class="card-img-top" alt="Product image">
                <span class="fw-bold">{{openedOffer.price}}&#8364;</span> <br />
                <span>{{openedOffer.description}}</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            }
        </div>
    </div>
</div>